html body{background:#817274} 

.page-hero h3{font-size:3rem;font-weight:bold;
    text-shadow:-1px -1px 1px #933c3c,2px 2px 1px #e59ca7;
    text-transform:uppercase;color:#5d262e}
    
.page-hero p{color:#acf1b9}
.card{border-radius:15px;overflow:hidden}
.card-header{background:#5c304a;color:#fff}
.card-header .prevMonth{cursor:pointer}
.card-header .nextMonth{cursor:pointer} 
.card-body{background:#acadf1}html body 
.card-body .days span{background:#e27586;
    color:#fff;border-radius:50%;
    display:inline-block;height:45px;
    width:45px;line-height:45px;
    cursor:pointer}

.card-body .days span:hover{background:#f7899a}

.card-body .dates span{background:#f4bdc6;
    color:#000;
    border-radius:50%;
    display:inline-block;
    height:45px;
    width:45px;
    line-height:45px;
    cursor:pointer}

.card-body .dates span.active,html body .card-body .dates span:hover{
    background:#ffeef0;color:#000}
    
.card-body .dates span.ntMonth{color:#938e8e;background:#ffd8de}

.card-body .dates span.ntMonth:hover{background:#ffeef0;color:#000}

.card#event .card-header .close{color:#fff;opacity:1}
 
.card#event .card-body .events-today{height:210px;overflow-x:hidden}

.card#event .card-body .events-input .data-invalid{border-color:red}

.card#event .card-body .events-input .error{font-size:12px;color:red;position:absolute;top:100%}
@media(max-width: 767px){html body .pa-sm{position:absolute}
 
.card-body .days span{height:38px;width:38px;line-height:38px;font-size:.8rem}

.card-body .dates span{height:38px;width:38px;line-height:38px;font-size:.8rem}

.card#event .card-body .events-today{height:188px}} 